<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Notícias</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"><!--Font-Awesome-->
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header>
        <div class="center">
            <div class="logo">
                <a href="/">
                    <h2><span style="font-family: 'Lato', sans-serif !important; font-weight: lighter">Danki</span><b>News</b></h2>
                </a>
                
            </div><!--logo-->
            <div class="form-busca">
                <form>
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" name="busca" placeholder="busca...">
                </form>
            </div><!--form-busca-->
        </div><!--center-->
    </header>