<%- include('partials/header.html') %>

    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Busca</h2>
            <br><br>
            <div class="center">
                <div style="width: 100%" class="mais-lidas">
                    <h3><%= contagem%> Resultados</h3>
                    <div class="mais-lidas-noticias">

                        <%for(let i = 0; i < contagem; i++) { %>
                        <div class="mais-lida-noticia-single">
                            <img src="<%= posts[i].imagem%>">
                            <div class="texto-mais-lida-single">
                                <h4><%= posts[i].titulo%></h4>
                                <p><%- posts[i].conteudo%></p>
                                <a href="<%= posts[i].slug%>">Ler Mais</a>
                            </div><!--texto-mais-lida-noticia-single-->
                        </div><!--mais-lida-noticia-single-->
                        <% } %>

                </div><!--mais-lidas-->
            </div><!--center-->
        </div><!--title-outras-noticias-->
    </section><!--outras-noticias-->

    <%- include ('partials/footer.html')%>
</body>
</html>