<%- include('partials/header.html') %>

    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Busca</h2>
            <br><br>
            <div class="center">
                <div style="width: 100%" class="mais-lidas">
                    <h3>33 Resultados</h3>
                    <div class="mais-lidas-noticias">
                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/small.jpg" alt="Beija flor">
                            <div class="texto-mais-lida-single">
                                <h4>Natureza</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim cumque suscipit beatae similique dolorem.</p>
                                <a href="/encarar-o-surf">Ler Mais</a>
                            </div><!--texto-mais-lida-noticia-single-->
                        </div><!--mais-lida-noticia-single-->

                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/small.jpg" alt="Beija flor">
                            <div class="texto-mais-lida-single">
                                <h4>Natureza</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim cumque suscipit beatae similique dolorem.</p>
                                <a href="/encarar-o-surf">Ler Mais</a>
                            </div><!--texto-mais-lida-noticia-single-->
                        </div><!--mais-lida-noticia-single-->

                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/small.jpg" alt="Beija flor">
                            <div class="texto-mais-lida-single">
                                <h4>Natureza</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim cumque suscipit beatae similique dolorem.</p>
                                <a href="/encarar-o-surf">Ler Mais</a>
                            </div><!--texto-mais-lida-noticia-single-->
                        </div><!--mais-lida-noticia-single-->

                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/small.jpg" alt="Beija flor">
                            <div class="texto-mais-lida-single">
                                <h4>Natureza</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim cumque suscipit beatae similique dolorem.</p>
                                <a href="/encarar-o-surf">Ler Mais</a>
                            </div><!--texto-mais-lida-noticia-single-->
                        </div><!--mais-lida-noticia-single-->
                    </div><!--mais-lidas-noticias-->

                </div><!--mais-lidas-->
            </div><!--center-->
        </div><!--title-outras-noticias-->
    </section><!--outras-noticias-->

    <%- include ('partials/footer.html')%>
</body>
</html>