<%- include('partials/header.html') %>

    <section class="noticia-destaque">
        <div class="center">
            <a href="/verao">
                <div class="img-destaque">
                    <div class="overlay-destaque"></div><!--overlay-destaque-->
                    <div class="title-destaque-descricao">
                        <h2>Quer fugir das praias de verão?</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem exercitationem illo est pariatur cumque molestiae quam amet temporibus recusandae assumenda a impedit voluptas laudantium officiis quasi odio officia, laborum rem?</p>
                    </div><!--title-destaque-descricao-->
                    <img src="/public//images/lake.jpg" alt="Lake Image">
                </div><!--img-destaque-->
            </a>
            
        </div><!--center-->
    </section><!--noticia-destaque-->

    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Últimas Notícias</h2>
            <br><br>
            <div class="center">
                <div class="ultimas">
                    <div class="box-ultima-single">
                        <img src="/public/images/noticia.jpg" alt="Pessoa com prancha na praia">
                        <div class="conteudo-noticia-single">
                            <h3>Natureza em Geral</h3><!--categoria-->
                            <h2>Como encarar o surf em Floripa</h2><!--título-->
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta libero atque eveniet aliquid ut ad ullam fuga, ex quam! </p><!--pedaço da notícia-->
                            <a href="/encarar-o-surf">Ler Mais</a>
                        </div><!--conteudo-noticia-single-->
                    </div><!--box-ultima-single-->

                    <div class="box-ultima-single">
                        <img src="/public/images/noticia.jpg" alt="Pessoa com prancha na praia">
                        <div class="conteudo-noticia-single">
                            <h3>Natureza em Geral</h3><!--categoria-->
                            <h2>Como encarar o surf em Floripa</h2><!--título-->
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta libero atque eveniet aliquid ut ad ullam fuga, ex quam! </p><!--pedaço da notícia-->
                            <a href="/encarar-o-surf">Ler Mais</a>
                        </div><!--conteudo-noticia-single-->
                    </div><!--box-ultima-single-->
                </div><!--ultimas-->

                <div class="mais-lidas">
                    <h3>As Mais Lidas</h3>
                    <div class="mais-lidas-noticias">
                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/small.jpg" alt="Beija flor">
                            <div class="texto-mais-lida-single">
                                <h4>Natureza</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim cumque suscipit beatae similique dolorem.</p>
                                <a href="/encarar-o-surf">Ler Mais</a>
                            </div><!--texto-mais-lida-noticia-single-->
                        </div><!--mais-lida-noticia-single-->

                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/small.jpg" alt="Beija flor">
                            <div class="texto-mais-lida-single">
                                <h4>Natureza</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim cumque suscipit beatae similique dolorem.</p>
                                <a href="/encarar-o-surf">Ler Mais</a>
                            </div><!--texto-mais-lida-noticia-single-->
                        </div><!--mais-lida-noticia-single-->

                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/small.jpg" alt="Beija flor">
                            <div class="texto-mais-lida-single">
                                <h4>Natureza</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim cumque suscipit beatae similique dolorem.</p>
                                <a href="/encarar-o-surf">Ler Mais</a>
                            </div><!--texto-mais-lida-noticia-single-->
                        </div><!--mais-lida-noticia-single-->

                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/small.jpg" alt="Beija flor">
                            <div class="texto-mais-lida-single">
                                <h4>Natureza</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim cumque suscipit beatae similique dolorem.</p>
                                <a href="/encarar-o-surf">Ler Mais</a>
                            </div><!--texto-mais-lida-noticia-single-->
                        </div><!--mais-lida-noticia-single-->
                    </div><!--mais-lidas-noticias-->

                </div><!--mais-lidas-->
            </div><!--center-->
        </div><!--title-outras-noticias-->
    </section><!--outras-noticias-->

    <%- include ('partials/footer.html')%>
</body>
</html>