<%- include('partials/header.html') %>

    <section class="noticia">
        <div class="center">
            <div class="noticia-single">
                <h2>Dez principais habilidades para se tornar um dev full-stack em 2023</h2>
                <div class="autor-nome">
                    <span>Por Guilherme Grillo</span>
                </div>
                
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis et, nulla quos hic ab unde quia h3 Animi ex nemo enim quisquam quidem pariatur assumenda modi? Ipsum, omnis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque itaque nobis aspernatur? Non optio recusandae deleniti odio perspiciatis unde. Repellat praesentium, minima aperiam magnam consectetur soluta dolores non dolore?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis et, nulla quos hic ab unde quia h3 Animi ex nemo enim quisquam quidem pariatur assumenda modi? Ipsum, omnis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque itaque nobis aspernatur? Non optio recusandae deleniti odio perspiciatis unde. Repellat praesentium, minima aperiam magnam consectetur soluta dolores non dolore?
                </p>
                <h3>Lorem, ipsum dolor sit amet</h3> 
                <p>
                    consectetur adipisicing elit. Fugiat magnam vero rerum enim dignissimos? Impedit voluptatem aperiam iste suscipit corporis laboriosam dignissimos consectetur ipsa quod. Illo veritatis rem accusantium commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis sapiente quam eligendi fugiat incidunt ad praesentium velit voluptas eum soluta doloribus, repellendus id quas earum natus sit. Saepe, nihil totam.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis et, nulla quos hic ab unde quia h3 Animi ex nemo enim quisquam quidem pariatur assumenda modi? Ipsum, omnis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque itaque nobis aspernatur? Non optio recusandae deleniti odio perspiciatis unde. Repellat praesentium, minima aperiam magnam consectetur soluta dolores non dolore?
                </p>

            </div>

            <div class="mais-lidas">
                <h3>As Mais Lidas</h3>
                <div class="mais-lidas-noticias">
                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/small.jpg" alt="Beija flor">
                        <div class="texto-mais-lida-single">
                            <h4>Natureza</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim cumque suscipit beatae similique dolorem.</p>
                            <a href="/encarar-o-surf">Ler Mais</a>
                        </div><!--texto-mais-lida-noticia-single-->
                    </div><!--mais-lida-noticia-single-->

                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/small.jpg" alt="Beija flor">
                        <div class="texto-mais-lida-single">
                            <h4>Natureza</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim cumque suscipit beatae similique dolorem.</p>
                            <a href="/encarar-o-surf">Ler Mais</a>
                        </div><!--texto-mais-lida-noticia-single-->
                    </div><!--mais-lida-noticia-single-->

                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/small.jpg" alt="Beija flor">
                        <div class="texto-mais-lida-single">
                            <h4>Natureza</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim cumque suscipit beatae similique dolorem.</p>
                            <a href="/encarar-o-surf">Ler Mais</a>
                        </div><!--texto-mais-lida-noticia-single-->
                    </div><!--mais-lida-noticia-single-->

                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/small.jpg" alt="Beija flor">
                        <div class="texto-mais-lida-single">
                            <h4>Natureza</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim cumque suscipit beatae similique dolorem.</p>
                            <a href="/encarar-o-surf">Ler Mais</a>
                        </div><!--texto-mais-lida-noticia-single-->
                    </div><!--mais-lida-noticia-single-->
                </div><!--mais-lidas-noticias-->

            </div><!--mais-lidas-->
        </div>
    </section>

<%- include ('partials/footer.html')%>
</body>
</html>