<%- include('partials/header.html') %>

    <section class="noticia">
        <div class="center">
            <div class="noticia-single">
                <h2><%= noticia.titulo%></h2>
                <div class="autor-nome">
                    <span><%= noticia.autor%></span>
                </div>
                
                <div>
                    <br>
                    <img style="max-width: 100%;" src="<%= noticia.imagem%>">
                    <br>
                </div>
                <p><%- noticia.conteudo%></p>

            </div>

            <div class="mais-lidas">
                <h3>As Mais Lidas</h3>
                <div class="mais-lidas-noticias">
                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/small.jpg" alt="Beija flor">
                        <div class="texto-mais-lida-single">
                            <h4>Natureza</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim cumque suscipit beatae similique dolorem.</p>
                            <a href="/encarar-o-surf">Ler Mais</a>
                        </div><!--texto-mais-lida-noticia-single-->
                    </div><!--mais-lida-noticia-single-->

                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/small.jpg" alt="Beija flor">
                        <div class="texto-mais-lida-single">
                            <h4>Natureza</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim cumque suscipit beatae similique dolorem.</p>
                            <a href="/encarar-o-surf">Ler Mais</a>
                        </div><!--texto-mais-lida-noticia-single-->
                    </div><!--mais-lida-noticia-single-->

                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/small.jpg" alt="Beija flor">
                        <div class="texto-mais-lida-single">
                            <h4>Natureza</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim cumque suscipit beatae similique dolorem.</p>
                            <a href="/encarar-o-surf">Ler Mais</a>
                        </div><!--texto-mais-lida-noticia-single-->
                    </div><!--mais-lida-noticia-single-->

                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/small.jpg" alt="Beija flor">
                        <div class="texto-mais-lida-single">
                            <h4>Natureza</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim cumque suscipit beatae similique dolorem.</p>
                            <a href="/encarar-o-surf">Ler Mais</a>
                        </div><!--texto-mais-lida-noticia-single-->
                    </div><!--mais-lida-noticia-single-->
                </div><!--mais-lidas-noticias-->

            </div><!--mais-lidas-->
        </div>
    </section>

<%- include ('partials/footer.html')%>
</body>
</html>