<%- include('partials/header.html') %>

    <section class="noticia">
        <div class="center">
            <div class="noticia-single">
                <h2><%= noticia.titulo%></h2>
                <div class="autor-nome">
                    <span><%= noticia.autor%></span>
                </div>
                
                <div>
                    <br>
                    <img style="max-width: 100%;" src="<%= noticia.imagem%>">
                    <br>
                </div>
                <p><%- noticia.conteudo%></p>

            </div>

            <div class="mais-lidas">
                <h3>As Mais Lidas</h3>
                <div class="mais-lidas-noticias">

                    <%for(let i = 0; i < postsTop.length; i++) { %>
                        <div class="mais-lida-noticia-single">
                            <img src="<%= postsTop[i].imagem%>">
                            <div class="texto-mais-lida-single">
                                <h4><%= postsTop[i].categoria%></h4>
                                <p><%- postsTop[i].descricaoCurta%>...</p>
                                <a href="<%= postsTop[i].slug%>">Ler Mais</a>
                            </div><!--texto-mais-lida-noticia-single-->
                        </div><!--mais-lida-noticia-single-->
                        <% } %>

                </div><!--mais-lidas-noticias-->

            </div><!--mais-lidas-->
        </div>
    </section>

<%- include ('partials/footer.html')%>
</body>
</html>