* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 8px 0;
    background-color: #0aacdc;
}

.center {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}

.logo {
    width: 50%;
}

.logo h2 {
    color: white;
}

.form-busca {
    width: 50%;
    text-align: right;
}

.form-busca form {
    display: inline-block;
    max-width: 200px;
    position: relative;
}

.form-busca i {
    position: absolute;
    left: 10px;
    top: 7px;
    color: white;
    font-size: 20px;
}

.form-busca input {
    width: 100%;
    height: 40px;
    border: 0;
    font-size: 20px;
    color: white;
    background-color: #008bb4;
    padding-left: 40px;
    border-radius: 13px;
}

::placeholder {
    color: white;
    opacity: 1;
}

::-ms-input-placeholder {
    color: white;
}

::-ms-input-placeholder {
    color: white;
}

section.noticia-destaque {
    padding: 40px 0;
}

section.noticia-destaque > .center {
    max-width: 960px;
}

.img-destaque {
    position: relative;
    width: 100%;
}

.img-destaque img {
    border-radius: 10px;
    width: 100%;
}

.title-destaque-descricao {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 40px;
    max-width: 600px;
    color: white;
    z-index: 2;
}

.title-destaque-descricao h2 {
    font-size: 55px;
    margin: 20px 0;
}

.title-destaque-descricao p {
    font-weight: lighter;
    font-size: 16px;
}

.overlay-destaque {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

section.outras-noticias {
    background-color: #EAEAEA;
    padding: 30px 20px;
    text-align: center;
}

section.outras-noticias h2 {
    font-size: 54px;
}

.ultimas {
    width: 60%;
    padding: 0 10px;
    display: flex;
}

.box-ultimas-single {
    text-align: left;
    width: 48%;
    margin-right: 2%;
    background-color: white;
    padding-bottom: 20px;
    right: 100%;
    border-radius: 10px;
}

.box-ultimas-single img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box-ultimas-single h3 {
    font-size: 16px;
    color: #33439B;
    margin: 20px 0;
}

.box-ultimas-single a {
    display: block;
    width: 101px;
    height: 36px;
    border: 1px solid #EBEBEB;
    text-decoration: none;
    color: #0AACDC;
    border-radius: 10px;
    line-height: 36px;
    text-align: center;
    font-size: 13px;
}

.box-ultimas-single h2 {
    font-size: 28px !important;
    color: #303336;
}

.box-ultimas-single p {
    font-size: 16px;
    color: #7B8591;
    margin: 20px 0;
}

.conteudo-noticia-single {
    padding: 20px;
}

.mais-lidas {
    width: 40%;
    height: 100%;
    background-color: white;
}

.mais-lidas > h3 {
    background-color: #3F51B5;
    color: white;
    text-align: center;
    padding: 10px 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}