

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

header {
    background-color: rgb(120, 55, 194);
    text-align: center;
    color: white;
    padding: 20px 0;
    
}

.lista-cadastro {
    display: flex;
    margin: 20px 0;
    padding: 20px;

}

.lista-cadastro input[type=text] {
    flex: 1;
    height: 40px;
    padding-left: 20px;

}

.lista-cadastro input[type=submit] {
    padding: 8px 8px;
    background-color: rgb(120, 55, 194);
    color: white;
    border: 0;

}

.lista-produto-single {
    padding: 10px 0;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    display: flex;

}

.lista-produto-single h3{
    flex: 1;
    padding: 0 20px;

}

h3.price-produto {
    text-align: right;
    font-size: 17px;

}

.price-produto > span {
    background-color: rgb(120, 55, 194);
    padding: 8px 10px;
    border-radius: 20px;
    color: white;

}

.soma-produto {
    margin: 20px;
    text-align: center;

}

button {
    cursor: pointer;
    border: 0;

}

.btn {
    width: 6%;
    margin: 0 auto;

}

#limpar {
    background-color: rgb(120, 55, 194);
    padding: 8px 10px;
    border-radius: 20px;
    color: white;
    margin: 20px;

}

.remover {
    background-color: rgb(194, 55, 55);
    padding: 4px 4px;
    border-radius: 40px;
    font-size: 15px;
    margin-right: 20px;
    color: white;


}